/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Kanit', 'sans-serif';
  font-size: 18px;
  background-image: url("assets/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: white;
  padding: 1.5em 0;
  border-bottom: 3px solid orange;
}
